/* OVERRIDES FOR QUILL/REACT-QUILL EDITOR */

:root {
  --gray-50: #f7fafc;
  --gray-100: #edf2f7;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e0;
  --gray-400: #a0aec0;
  --gray-500: #718096;
  --gray-600: #4a5568;
  --gray-700: #2d3748;
  --gray-800: #1a202c;
  --gray-900: #171923;
}

.quill {
  border-radius: 6px !important;
}

.ql-container {
  min-height: 132px !important;
  border-radius: 0 0 6px 6px !important;
}
.ql-snow {
  border-radius: 6px 6px 0 0 !important;
  height: 100% !important;
}
.custom-editor .ql-blank {
  min-height: 130px !important;
  height: 100% !important;
}
.custom-editor .ql-editor {
  min-height: 130px !important;
  height: 100% !important;
  max-height: 160px;
}
.ql-size-large {
  font-size: 20px;
}

@media screen and (min-width: 480px) {
  pre.ql-container {
    min-height: 202px !important;
  }
  .ql-blank {
    min-height: 200px !important;
  }
  .custom-editor .ql-editor {
    max-height: 200px;
  }
}

@media screen and (min-width: 768px) {
  pre.ql-container {
    min-height: 222px !important;
  }
  .ql-blank {
    min-height: 220px !important;
  }
  .custom-editor .ql-editor {
    max-height: 220px;
  }
}

.custom-editor-light .ql-snow {
  border: 1px solid var(--gray-100) !important; 
  background: var(--gray-50)  !important; 
}
.custom-editor-dark .ql-snow {
  border: 1px solid var(--gray-700) !important;
  background: var(--gray-800) !important;
}
.custom-editor-dark .ql-toolbar button.ql-active {
  border: 1px solid var(--gray-700) !important;
  background: var(--gray-700) !important;
}
.custom-editor-dark .ql-formats span.ql-picker-label {
  color: var(--gray-50) !important;
  border: 1px solid var(--gray-500) !important;
}
.custom-editor-dark .ql-formats span.ql-picker-label .ql-stroke {
  stroke: var(--gray-50) !important;
}
.custom-editor-dark .ql-formats span.ql-picker-options {
  padding: 0 !important;
  background: var(--gray-800) !important;
  color: var(--gray-50) !important;
  border: 1px solid var(--gray-500) !important;
}
.custom-editor-dark .ql-formats span.ql-picker-options .ql-picker-item {
  padding: 4px 8px;
}
.custom-editor-dark .ql-formats span.ql-picker-options .ql-picker-item:hover {
  background: var(--gray-500) !important; /* gray.700 */
  color: var(--gray-50) !important; /* gray.50 */
}
.custom-editor-dark .ql-formats span.ql-picker-options .ql-selected {
  color: var(--gray-50) !important;
}
.custom-editor-dark .ql-formats .ql-align .ql-picker-label {
  border: none !important;
}
.custom-editor-dark .ql-formats .ql-align {
  transition: border-color 0.2s !important;
  border-bottom: 1px solid !important;
  border-color: var(--gray-500) !important;
}
.custom-editor-dark .ql-formats .ql-align:hover {
  border-color: var(--gray-300) !important;
}
.custom-editor-dark .ql-formats .ql-align .ql-picker-options {
  padding: 0 !important;
}
.custom-editor-dark .ql-formats .ql-align .ql-picker-options span {
  padding: 4px 6px !important;
  width: 100% !important;
}


.custom-editor-light .ql-toolbar button.ql-active {
  border: 1px solid var(--gray-300)  !important;
  background: var(--gray-100) !important;
}
.custom-editor-light .ql-formats span.ql-picker-label {
  color: var(--gray-800) !important;
  border: 1px solid var(--gray-300) !important;
}
.custom-editor-light .ql-formats span.ql-picker-label .ql-stroke {
  stroke: var(--gray-800) !important;
}
.custom-editor-light .ql-formats span.ql-picker-options {
  padding: 0 !important;
  background: var(--gray-50) !important;
  color: var(--gray-800) !important;
  border: 1px solid var(--gray-100) !important;
}
.custom-editor-light .ql-formats span.ql-picker-options .ql-picker-item:hover {
  background-color: var(--gray-50)  !important;
  color: var(--gray-800) !important;
}
.custom-editor-light .ql-formats .ql-align .ql-picker-label {
  border: none !important;
}
.custom-editor-light .ql-formats .ql-align {
  transition: border-color 0.2s !important;
  border-bottom: 1px solid !important;
  border-color: var(--gray-300) !important;
}
.custom-editor-light .ql-formats .ql-align:hover {
  border-color: var(--gray-800) !important;
}
.custom-editor-light .ql-formats span.ql-picker-options .ql-picker-item {
  padding: 4px 8px;
}
.custom-editor-light .ql-formats .ql-align .ql-picker-options {
  padding: 0 !important;
}
.custom-editor-light .ql-formats .ql-align .ql-picker-options span {
  padding: 4px 6px !important;
  width: 100%;
}

/* INDENTATION/INDENT CLASSES */
.ql-indent-1 {
  padding-left: 12px !important;
}
.ql-indent-2 {
  padding-left: 24px !important;
}
.ql-indent-3 {
  padding-left: 36px !important;
}
.ql-indent-4 {
  padding-left: 48px !important;
}
.ql-indent-5 {
  padding-left: 60px !important;
}
.ql-indent-6 {
  padding-left: 72px !important;
}
.ql-indent-7 {
  padding-left: 84px !important;
}
.ql-indent-8 {
  padding-left: 96px !important;
}

/* BUILT-IN FORMAT CLASSES */
p {
  /* align-left by default */
  text-align: left;
  font-size: 14px;
}
