body {
  margin: 0;
}

* {
  box-sizing: border-box;
}



/* OVERRIDES */

/* Quill Overrides */
.ql-container {
  min-height: 200px !important;
}
.ql-editor {
  height: 200px !important;
}
.ql-snow {
  height: 100% !important;
}
.ql-blank {
  height: 200px !important;
}
.ql-size-large {
  font-size: 20px;
}